*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  color: white;
}


@media all and (min-width: 960px) {
h3{
    font-size: 70px;
  }
  .graph-d{
    font-size: 30px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
h3{
    font-size: 8vw;
  }

.graph-d{
  font-size: 18px;
}
}

@media all and (max-width: 599px) and (min-width: 50px) {
h3{
    font-size: 8vw;
  }

  .graph-d{
    font-size: 10px;
  }
}


h1 {
  text-align: center;
  color: white;
  padding: 40px;
}

h1#header{
  color: white;
  border: 3px solid white;
}
h2 {
  border-bottom: 3px solid black;
}

h5{
  color: yellow;
  font-size: 50px;
}

header{
    height: 900px;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
}


footer{
  text-align: center;
  height: 200px;
  background-color: #696969;
}

body {
  font-family: 'Lato', sans-serif;
}

.nav_bar{
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  border: none;

}

.nav_bar li{
  margin-top: 10px;
  display: inline;
}

.nav_bar a {
    width: auto;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 0px;
}

.container {
  background-color: rgba(1 1 1 0.5);
}

/* grid redacted About/Header */
.redacted {
  background-size: cover;
  background-image: url('square.jpg');
  margin: 0 auto;
  height: 900px;
  display: grid;
  max-width: 900px;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "empty empty empty empty empty empty empty"
  "header header header header header header header"
  "bare bare bare bare bare bare bare"
  "subhead subhead subhead subhead subhead subhead subhead"
  "left left left right right right right"
  "center center center center center sholder sholder"
  "base base base base base base base"
  "base base base base base base base";
}

.black-block {
  background-color: black;
}

#bare {
  grid-area: bare;
  justify-self: start;
  align-self: start;
}

#name{
  align-self: end;
  justify-self: end;
  background-color: black;
  grid-area: header;
}

#header {
  grid-area: header;
}

#subhead {
  grid-area: subhead;
}

#left {
  grid-area: left;
}

#center {
  grid-area: center;
}

#base {
  grid-area: base;
}


/*Skills */

#skills {
  display: block;
  position: static;
  height: 1000px;
  margin: 0 auto;
  background-color: black;
}

/* grid graph Skills */

#grid-graph {
  grid-area: left;
  max-width: 900px;
  height: 900px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px / 50px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "pro blank3 blank4 blank4 blank blank"
  "pro blank3 blank5 js blank blank"
  "pro blank3 html js blank blank"
  "pro css html js ruby blank2"
  "pro css html js ruby blank2"
  "pro css html js ruby mysql"
  "pro css html js ruby mysql"
  "pro css html js ruby mysql"
  "pro css html js ruby mysql"
  ". css-text html-text js-text ruby-text mysql-text";
   justify-items: stretch;
   align-tiems: stretch;
   grid-gap: 15px;
}

.white-block {
  color: black;
  background-color: white;
  /* transform: rotate(-90deg); */
}

.base-block {
  color: white;
}

h4 {
  font-weight: bold;
  font-size: 5em;
}

h4#rotate {
  transform: rotate(-90deg)
}

#pro {
  grid-area: pro;
  align-self: end;
  justify-self: end;
}

#css {
  grid-area: css;
}

#html {
  grid-area: html;
}

#js {
  grid-area: js;
}

#ruby {
  grid-area: ruby;
}

#mysql {
  grid-area: mysql;
}

#lang {
  grid-area: lang;
  align-self: center;
  justify-self: center;
}

#graph-element {
  font-weight: bold;

  text-align: center;
}

.graph-d {
  font-weight: bold
  text-align: center;
  color: white;
  justify-self: center;
  align-self: center;
}

#css-text {
  grid-area: css-text;
}

#html-text {
  grid-area: html-text;
}

#js-text {
  grid-area: js-text;
}

#ruby-text {
  grid-area: ruby-text;
}

#mysql-text {
  grid-area: mysql-text;
}


/* holder-num-float  / Projects */
#holder-num-float {
  background-color: white;
  padding-top: 60px;
  margin: 0 auto;
  height: 2000px;
  display: grid;
  max-width: 900px;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header blank blank"
  "subheader subheader blank blank"
  "subsub subsub subsub subsub"
  "left left right right"
  "left left right right"
  "left left right right";
   grid-gap: 20px 20px;
   justify-items: stretch;
   align-tiems: stretch;
}

/* get an element to act as anothers background */

.content1{
    font-size: 26px;
    font-weight: bold;
    grid-area: header;
}

.background1{
  font-size: 120px;
    grid-area: header;
}

.content2{
    align-self: end ;
    justify-self: end;
    font-size: 26px;
    font-weight: bold;
    grid-area: blank;
}

.background2{
    align-self: end;
    justify-self: end;
    font-size: 120px;
    grid-area: blank;
}

.content3{
    align-self: start;
    justify-self: end;
    font-size: 26px;
    font-weight: bold;
    grid-area: left;
}

.background3{
  align-self: start;
  justify-self: end;
  font-size: 120px;
    grid-area: left;
}

.content4{
    align-self: center;
    justify-self: center;
    font-size: 26px;
    font-weight: bold;
    grid-area: right;
}

.background4{
  align-self: center;
  justify-self: center;
  font-size: 120px;
    grid-area: right;
}


/* grid skills */

#holder {
  padding-top: 60px;
  margin: 0 auto;
  height: 900px;
  display: grid;
  max-width: 900px;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
  "subheader subheader subheader subheader"
  "subsub subsub subsub subsub"
  "left left right right"
  "left left right right"
  "left left right right";
   grid-gap: 20px 20px;
   justify-items: stretch;
   align-tiems: stretch;
}

.graph-parent {
  grid-area: left;
}

#text {
  grid-area: right;
}

#intro {
  border-top: 3px solid black;
}

#subsub {
  grid-area: subsub;
  justify-self: center;
  align-self: center;
}

#color-box {
  grid-area: subsub;
  background-color: #ff6688;
  border: 5px solid black;

}

#holder h1{
  font-size: 70px;
  grid-area: header;
  justify-self: center;
  align-self: center;
}

#holder p#intro{
  grid-area: subheader;
}

/* About */

#img-eoin {
  grid-area: subheader;
  justify-self: center;
  align-self: center;
  background-color: black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

#quote {
  grid-area: right;
  justify-self: end;
  align-self: end;
  background-color: red;
}
.subheader {
  grid-area: subsub;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 20px;
}

/* Work */
.right {
  grid-area: right;
}

.left {
  grid-area: left;
}

#about {
  height: 1000px;
  display: block;
  position: static;
  /* background-color: #ffc266; */
  background-size: cover;
  background-image: url("cliffs.jpg");
}

#projects {
  height: 2000px;
  display: block;
  position: static;
  background-color: #white;
}

#work{
  height: 1000px;
  display: block;
  position: static;
  background-color: #ffcc00;
}
